ion-toolbar {
    --background: var(--ion-background-color, --td-bg);
    padding: 1rem 0.3rem;
    padding-bottom: 0;
}

ion-content {
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 26px;
            // color: #010100;
            margin-bottom: 5%;
        }

        // img {
        //     width: 125px;
        //     height: 125px;
        //     border-radius: 50%;
        //     -webkit-border-radius: 50%;
        //     -moz-border-radius: 50%;
        //     -ms-border-radius: 50%;
        //     -o-border-radius: 50%;
        //     border: 8px solid #ffffff;
        // }
    }

    #form {
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;

        ion-button {
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.5);
            --box-shadow: none;
        }

        ion-item {
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            height: 55px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
            --highlight-height: 0px;

            #input-email {
                --padding-top: 20px;
            }

            #input-pass {
                --padding-top: 6px;
            }

            ion-input {
                font-size: 18px;
                // --padding-top: 10px;
                --padding-bottom: 15px;
                --padding-left: 5px;
                --padding-right: 5px;
                --border-radius: 50px;
                border: none;
                background: var(--ion-input-color);
                color: var(--ion-input-text);
            }
        }
    }
}

.text-link {
    color: var(--ion-text-link)
}